
  
  
  
  @media (max-width: 1000px) {
    .navigation {
      display: none;
    }
    .burger-bar {
      display: block;
      z-index: 100;
    }
    .header {
      height: 80px;
    }
    .navDrop {
      display: block;
      background-color: #181817;
      width: 40%;
      height: 30%;
      position: fixed;
      right: 0;
      top: 80px;
      flex-wrap: wrap;
      opacity: 80%;
    }
    .nav-ul {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    li {
      margin-bottom: 15px;
    }
    
    .barMove {
      rotate: 90deg;
    }
    
    
    
  }
  
  @media (max-width: 570px) {
    .header {
      height: 60px;
    }
    .navDrop {
      top: 60px;
    }
  }
  
  @media (max-width: 520px) {
    .navDrop {
      width: 100%;
      top: 60px;
      height: 20%;
    }
    .banner-wrapper-none {
      display: none;
    }
    .nav-a {
      font-size: 10px;
    }
  }
  
  @media (max-width: 380px) {
    .header {
      height: 30px;
    }
    .navDrop {
      top: 30px;
    }
}