.header {
  background-color: #181817;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  /* opacity: 70%; */
  
}
.logo-div {
  width: 40%;
  height: auto;
}

.logo-img {
  max-width: 191px;
  width: 40%;
  height: auto;
  
}

.nav-ul {
  display: flex;
}

.nav-a {
  color: #fefefe;
  margin-right: 50px;
  font-size: 1.2vw;
}

.burger-bar {
  display: none;
}

.fa-bars {
  color: #fece76;
  font-size: 2.5vw;
}
/* .active-nav-a {
    border-bottom: solid;
    border-color: #FFCE76;
    border-width: 4px;
} */

.line {
  display: block;
  width: 5%;
  height: 2.5px;
  background-color: #fece76;
  margin-right: 2.5%;
}

.wp {
  font-size: 1.7vw;
  margin-right: 2.5%;
}
.welcome-to {
  color: #ffffff;
}
.paho-design {
  color: #fece76;
}
.banner {
  width: auto;
  position: relative;
}
.banner-image {
  width: 100%;
  height: auto;
}
.banner-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(50%);
  width: 40%;
}
.headlines-wrapper {
  display: flex;
  align-items: baseline;
}
/* .banner-wrapper {
  display: flex;
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(50%);
  align-items: baseline;
  width: 32.4%;
  flex-wrap: wrap;
} */
.moto {
  color: #ffffff;
  font-size: 3.6vw;
  margin-top: 5%;
}
.section1 {
  background-color: #181817;
  padding-top: 5%;
}
.why {
  font-size: 2.5vw;
  color: #ffce76;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.slim-line {
  display: block;
  background-color: #ffffff;
  width: 30%;
  height: 1px;
  opacity: 30%;
}
.rectangle {
  height: 100%;
  width: auto;
  margin-left: 1%;
  margin-right: 1%;
}
.design-wrap {
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  margin-bottom: 5%;
}
.reasons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding-bottom: 5%;
  flex-wrap: wrap;
  
  }
.reasons-wrapper-child {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 374px;
  width: 80%;
  
}

.reason-box {
  display: flex;
  max-width: 374px;
  width: 100%;
  height: auto;
  align-items: flex-start;
 
}
.smart-object-img {
  max-width: 68px;
  width: 90%;
  height: auto;
}
.text-wrapper {
  max-width: 250px;
  width: 100%;
  height: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.tw-left {
  text-align: right;
  justify-content: end;
  margin-right: 10%;
}
.tw-right {
  text-align: left;
  justify-content: start;
  margin-left: 10%;
}

.h3-reasons {
  font-size: 1.5vw;
  color: #ffce76;
  margin-bottom: 1px;
}

.reason-text {
  color: #fefefe;
  font-size: 1vw;
  padding-bottom: 20%;
}



.armchair-div {
  display: block;
  max-width: 349px;
  width: 80%;
  height: auto;
 
}
.armchair-pic {
  width: 100%;
  height: auto;
}

.design-banner {
  max-width: 1600px;
  object-fit: cover;
}
.banner-img {
  width: 100%;
  height: auto;
}
.sl-black {
  background-color: #181817;
  
}
.our {
  color: #181817;
  margin-top: 5%;
}

.wrapper {
  display: flex;
}

.living-room {
width: 25%;
}
.living-room-img {
  width: 100%;
  height: auto;
}



footer {
  width: 100%;
  background-color: #181817;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  height: 1000px;
}
.socials {
  display: flex;
  margin-top: 10%;
}
.icon {
  border: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 5%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  color: #FFFFFF;
  font-size: 1.5vw;
}
.footer-h4 {
  font-size: 1.5vw;
  color: #fece76;
  margin-bottom: 5%;
}
.footer-span {
  font-size: 1vw;
  color: #FFFFFF;
  
}
.vertical-line {
  background-color:#fece76;
  display: block;
  width: 4px;
  height: 108px;
  margin-right:15px;
}
.line-marger {
  display: flex;
  margin-bottom: 15%;

}
.call {
  color: #ffffff;
}


.footer-logo {
  height: 42px;

}