/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

h1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}
h3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
h4 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
h5 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
h6 {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
}
p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

/* header */

.header {
  background-color: #181817;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-a {
  color: #fefefe;
  margin-right: 50px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.burger-bar {
  display: none;
}

.fa-bars {
  color: #fece76;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.active {
  color: #fece76;
}

.line {
  display: block;
  width: 5%;
  height: 2.5px;
  background-color: #fece76;
  margin-right: 2.5%;
}

.wp {
  margin-right: 2.5%;
}
.welcome-to {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.paho-design {
  color: #fece76;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.banner {
  width: auto;
  position: relative;
}
.banner-image {
  width: 100%;
  height: 880px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 100%;
     object-position: 60% 100%;
}
.banner-image-mobile {
  width: 100%;
  height: auto;
  display: none;
}
.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30%;
  left: 10%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 50%;
}
.headlines-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.moto {
  color: #ffffff;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
}
.section1 {
  background-color: #181817;
  padding-top: 5%;
}
.why {
  color: #ffce76;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.slim-line {
  display: block;
  background-color: #ffffff;
  width: 1000px;
  height: 2px;
  opacity: 30%;
}
.sl-black {
  display: block;
  background-color: #181817;
}
.rectangle {
  height: 100%;
  width: auto;
  margin-left: 1%;
  margin-right: 1%;
}
.design-wrap {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1px;
  margin-bottom: 50px;
}
.reasons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  padding-bottom: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reasons-wrapper-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 374px;
  width: 80%;
}

.reason-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 374px;
  width: 100%;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.smart-object-img {
  max-width: 68px;
  height: auto;
}

.text-wrapper {
  max-width: 250px;
  width: 100%;
  height: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.tw-left {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 10%;
}
.tw-right {
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 10%;
}

.h4-reasons {
  color: #ffce76;
  margin-bottom: 1px;
  font-family: "Poppins", sans-serif;
}

.reason-text {
  color: #fefefe;
  padding-bottom: 20%;
  font-family: "Poppins", sans-serif;
}

.armchair-div {
  display: block;
  max-width: 500px;
  height: auto;
}
.armchair-pic {
  width: 100%;
  height: auto;
}

.design-banner {
  max-width: 1600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-img {
  width: 100%;
  height: auto;
}

.our {
  color: #181817;
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.living-room-img {
  width: 100%;
  height: auto;
}

/* footer */

.footer-box-wrapper {
  width: 30%;
  height: 100px;
}

.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: #181817;
  padding-top: 40px;
  padding-bottom: 50px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}
.icon {
  border: solid;
  border-color: #7d7d7c;
  border-radius: 50%;
  margin-right: 2.5%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fa-brands {
  color: #ffffff;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.footer-h4 {
  color: #fece76;
  font-family: "Poppins", sans-serif;
}
.footer-span {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.vertical-line {
  background-color: #fece76;
  display: block;
  width: 4px;
  height: 80px;
  margin-right: 15px;
}
.line-marger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-bottom: 30px;
}
.call {
  color: #ffffff;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.footer-logo {
  height: 42px;
}
.footer-h4-hw {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.footer-span-hw {
  color: #7d7d7c;
  font-family: "Poppins", sans-serif;
}
.footer-text {
  margin-top: 3%;
}

.footer-element {
  max-width: 380px;
  width: 33%;
}

.logo-small {
  display: block;
  max-width: 200px;
}
.logo-small-img {
  width: 100%;
}

/* section third */
.section-third-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.top-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.right-four-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.vietnam-furniture {
  width: 398px;
  height: 670px;
  -o-object-fit: cover;
     object-fit: cover;
}
.vietnam-div {
  position: relative;
}
.h-section-third {
  position: absolute;
  color: #749d26;
  max-width: 300px;
  top: 20%;
  left: 10%;
}
.sofa-div {
  position: relative;
}
.h-section-third-1 {
  position: absolute;

  max-width: 300px;
  top: 20%;
  left: 10%;
}
.jars-div {
  position: relative;
}

.h-section-third-2 {
  position: absolute;
  color: #352b30;
  max-width: 300px;
  top: 20%;
  left: 10%;
}

.p-section-third {
  position: absolute;
  color: #749d26;
  top: 40%;
  left: 10%;
}
.p-section-third-1 {
  position: absolute;
  color: #599ba7;
  top: 40%;
  left: 10%;
}
.p-section-third-2 {
  position: absolute;
  color: #352b30;
  top: 40%;
  left: 10%;
}

.airplane {
  max-width: 386px;
  height: 341px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sofa-design {
  width: 735px;
  height: 341px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jars {
  width: 780px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
.apples {
  width: 339px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* shop */

.collection {
  margin-top: 150px;
}
.shop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1175.2px;
  margin: 0 auto;
  background-color: #f9fafc;
}
.shop-item {
  width: 272px;
  height: 400px;
  margin-bottom: 10%;
  background-color: #ffffff;
  padding: 25px;
  position: relative;
}
.shop-item:hover {
  background-color: #fece76;
  width: 300px;
}

.hover-div {
  display: block;
  width: 293.02px;
  height: 436px;
  color: #ffd790;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
}

/* .hover-div:hover {
  display: block;
} */

.shop-img {
  width: 100%;
  max-height: 227px;
}

.our-designers {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  margin-top: 150px;
  color: #fece76;
  font-family: "Poppins", sans-serif;
}
.h3-show-more-designers {
  color: #ffce76;
}

.designer-page {
  background-image: url(../images/designers.png);
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #7d7d7c;
}

.h3-white {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.all-designers div {
  margin-bottom: 20px;
}

.name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.all-designers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.stright-line {
  display: block;
  background-color: #fece76;
  width: 20%;
  height: 3px;
  margin-left: 2%;
}
.designer-img {
  width: 100%;
  height: auto;
}

/* blog */
.body {
  background-color: #f9fafc;
}
.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
.blog {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  margin-top: 150px;
  color: black;
  font-family: "Poppins", sans-serif;
}

.blog-item-wrapper {
  max-width: 372px;
  width: 80%;
  padding-bottom: 1%;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.blog-image {
  width: 100%;
  height: auto;
}
.blog-description-wrapper {
  margin: 5%;
}
.blog-description-wrapper h5 {
  margin-bottom: 5%;
}
.blog-description-wrapper p {
  margin-bottom: 5%;
}
.read-more {
  background-color: #fece76;
  max-width: 160px;
  width: 40%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.a-read-more {
  color: #181817;
}

.a-read-more:hover {
  font-size: 20px;
}
/* contact form */
.form-wrapper {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  position: relative;
}

.form-img {
  width: 100%;
  height: auto;
}

.form-h3 {
  width: 50%;
}
.form-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  text-align: left;
  margin-top: 100px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0;
  left: 5%;
}
.form-description-wrapper h3 {
  margin-bottom: 10px;
}

.form h3 {
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.label {
  display: block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.input {
  width: 100%;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fa-hand-pointer {
  font-size: 273px;
}

/* section fourth without slider */

.living-rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.living-room {
  width: 25%;

  position: relative;
}

.modern-room {
  position: absolute;
  top: 5%;
  left: 5%;
  max-width: 70%;
  color: #ffffff;
}
.interior-design {
  color: #ffffff;
  position: absolute;
  top: 80%;
  rotate: 270deg;
}

/* slider */
.slider {
  display: none;
}
.slider-button {
  width: 50px;
  height: 50px;

  color: floralwhite;
  font-size: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.button-right {
  right: 50px;
}
.four-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.slider-input {
  position: relative;
}

.side-item {
  position: relative;
}
.item-title {
  color: #ffffff;
  position: absolute;
  width: 70%;
  top: 5%;
  left: 5%;
}
.description {
  color: #ffffff;
  position: absolute;
  top: 80%;
  rotate: 270deg;
}

.slide {
  width: 100%;
}
.slideimg {
  width: 100%;
  height: auto;
}

/* form */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 400px;
  left: 200px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.error-text {
  color: red;
  display: block;
}

.img-form {
  position: relative;
  width: 100%;
  height: 880px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 100%;
     object-position: 60% 100%;
}
.h2-registration-form {
  color: #ffffff;
  margin-bottom: 10px;
  position: absolute;
  top: 150px;
  left: 50px;
}
.p-registration-form {
  color: #ffffff;
  margin-bottom: 10px;
  position: absolute;
  top: 220px;
  left: 50px;
}
#usernamefield {
  width: 250px;
}
#passwordfield {
  width: 250px;
}
#passwordRepeat {
  width: 250px;
}
.submit-button {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: #fece76;
  border: none;
}
.fa-regular {
  color: #ffffff;
}

/* server */
#designers-server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.designer-divs {
  width: 200px;

  -webkit-filter: grayscale(100%);

          filter: grayscale(100%);
}
.vanish {
  display: none;
}
.appear {
  display: block;
  display: inline-block;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: #fece76;
}
.full-name-designer {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}